{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <div class="bg-light pt-5 pb-5">
    </div>
    <div class="container" style="margin-top: -70px;">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h1 class="h3 mb-5">
                            <i class="{{ fsc.getPagedata().icon }}" aria-hidden="true"></i> {{ i18n.trans('generate-test-data') }}
                            <a href="{{ fsc.url() }}" class="btn btn-sm btn-outline-secondary">
                                <i class="fas fa-sync" aria-hidden="true"></i>
                            </a>
                        </h1>
                        <div class="form-row">
                            {{ _self.genButton(fsc, 'fabricantes', i18n, 'fas fa-industry', 'manufacturers') }}
                            {{ _self.genButton(fsc, 'familias', i18n, 'fas fa-sitemap', 'families') }}
                            {{ _self.genButton(fsc, 'atributos', i18n, 'fas fa-tshirt', 'attributes') }}
                            {{ _self.genButton(fsc, 'productos', i18n, 'fas fa-cubes', 'products') }}
                            {{ _self.genButton(fsc, 'agentes', i18n, 'fas fa-user-tie', 'agents') }}
                            {{ _self.genButton(fsc, 'contactos', i18n, 'fas fa-users', 'contacts') }}
                            {{ _self.genButton(fsc, 'users', i18n, 'fas fa-user-circle', 'users') }}
                        </div>
                        <h3 class="mt-4">{{ i18n.trans('purchases') }}</h3>
                        <hr/>
                        <div class="form-row">
                            {{ _self.genButton(fsc, 'proveedores', i18n, 'fas fa-users', 'suppliers') }}
                            {{ _self.genButton(fsc, 'presupuestosprov', i18n, 'fas fa-copy', 'estimations') }}
                            {{ _self.genButton(fsc, 'pedidosprov', i18n, 'fas fa-copy', 'orders') }}
                            {{ _self.genButton(fsc, 'albaranesprov', i18n, 'fas fa-copy', 'delivery-notes') }}
                        </div>
                        <h3 class="mt-4">{{ i18n.trans('sales') }}</h3>
                        <hr/>
                        <div class="form-row">
                            {{ _self.genButton(fsc, 'grupos', i18n, 'fas fa-users-cog', 'customer-groups') }}
                            {{ _self.genButton(fsc, 'clientes', i18n, 'fas fa-users', 'customers') }}
                            {{ _self.genButton(fsc, 'presupuestoscli', i18n, 'fas fa-copy', 'estimations') }}
                            {{ _self.genButton(fsc, 'pedidoscli', i18n, 'fas fa-copy', 'orders') }}
                            {{ _self.genButton(fsc, 'albaranescli', i18n, 'fas fa-copy', 'delivery-notes') }}
                        </div>
                        <h3 class="mt-4">{{ i18n.trans('plugins') }}</h3>
                        <hr/>
                        <div class="form-row">
                            {{ _self.genButton(fsc, 'proyectos', i18n, 'fab fa-stack-overflow', 'projects') }}
                            {{ _self.genButton(fsc, 'servicios', i18n, 'fas fa-headset', 'services') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .bg-header {
            background-color: #FAFBFC;
        }
    </style>
{% endblock %}

{% macro genButton(fsc, gen, i18n, icon, label) %}
    <div class="col-sm-4">
        <a href="{{ fsc.url() }}?gen={{ gen }}" class="btn btn-block btn-outline-success mb-3">
            <i class="{{ icon }}" aria-hidden="true"></i>&nbsp; {{ i18n.trans(label) }}
            {% if fsc.totalCounter[gen] > 0 %}
                <span class="badge badge-success">{{ fsc.totalCounter[gen] }}</span>
            {% endif %}
        </a>
    </div>
{% endmacro %}